# =========================
# Build & Dependency Folders
# =========================
/build/
/out/
/target/
/.gradle/
/mvnw
/mvnw.cmd
!gradle-wrapper.jar

# =========================
# IDEs
# =========================
# IntelliJ IDEA
/.idea/
/*.iml
/*.iws
/.idea_modules/
/.idea/*

# Eclipse
/.project
/.classpath
/.settings/
/.metadata/
/bin/

# VSCode
.vscode/

# =========================
# OS Files
# =========================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp
*.swp
*.bak
*.orig
*.rej

# =========================
# Spring Boot
# =========================
/spring.log
/*.jar
/*.war

# =========================
# Others
# =========================
# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Gradle Wrapper
gradle-wrapper.jar

# Generated test reports
/test-results/
