<div class="form-wrapper">

  <div class="form-card">
    
    <div class="text-center mb-4">
      <h1>Atualizar Usuário</h1>
    </div>

    <form [formGroup]="clientUpdateForm" (ngSubmit)="atualizarUsuario()">
      
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" class="form-control" formControlName="nome">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>

      <div class="form-group">
        <label for="salario">Salário:</label>
        <input type="number" id="salario" class="form-control" formControlName="salario">
      </div>

      <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" class="form-control" formControlName="endereco">
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" id="cep" class="form-control" formControlName="CEP">
        </div>
        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" class="form-control" formControlName="cidade">
        </div>
      </div>

      <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" id="estado" class="form-control" formControlName="estado">
      </div>
      
      <button type="submit" class="btn btn-primary w-100 mt-4" [disabled]="clientUpdateForm.invalid">
        Salvar Alterações
      </button>
    </form>
    
    <div class="mt-4">
      <div *ngIf="status === 'success'" class="alert alert-success">
        Usuário atualizado com sucesso!
      </div>
      <div *ngIf="status === 'error'" class="alert alert-danger">
        Falha ao atualizar. Por favor, tente novamente.
      </div>
    </div>

  </div> </div>