<app-header [navItems]="navItems"></app-header>
<div class="main-content page-with-navbar">
    
    <div class="container mt-5" *ngIf="solicitacoes && solicitacoes.length > 0">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0 text-center">Solicitações Pendentes</h5>
                    </div>
                    <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover text-center align-middle mx-auto">
                                    <thead>
                                        <tr>
                                            <th scope="col">CPF</th>
                                            <th scope="col">Nome Completo</th>
                                            <th scope="col">Salário</th>
                                            <th scope="col">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let solicitacao of solicitacoes">
                                            <td>{{solicitacao.cpf | mask: "000.000.000-00"}}</td>
                                            <td>{{solicitacao.nome}}</td>
                                            <td>{{solicitacao.salario | currency: 'BRL'}}</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <button type="button" class="btn btn-success me-2" (click)="responseManager('aproveButton', solicitacao.cpf)">Aprovar</button>
                                                    <button type="button" class="btn btn-danger" (click)="responseManager('denyButton', solicitacao.cpf)">Recusar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="solicitacoes && solicitacoes.length === 0">
      <div class="semSolicitacoes">
        <h3>Nenhuma Solicitação De Conta No Momento</h3>
      </div>
    </div>

</div>
