.main-content
{
    padding-left: 30px;
    padding-right: 30px;
}

p
{
    margin: 5px;
}

.hello-msg
{
    justify-content:left;
    font-family: 'Inter', sans-serif;
}

.card-container
{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-top:20px;
}

.card-top
{
    background: linear-gradient(135deg, #00BFFF, #0000FF);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
    width: 260px;
    height: 120px;
    display: flex;
    justify-content: center;
}

.numPedidos
{
    font-size:x-large;
}

.card-top:hover
{
    box-shadow: 0 12px 28px #4da8f7;
    transform: scale(1.07);
}

.card-top .card-content
{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-container .text-center .mt-5
{
    padding-top: 50px;
}

.card
{
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.4);
}

.semSolicitacoes
{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  justify-content: center;
  padding: 30px;
}
