/*init css global para nav-bar*/
:root { --nav-h: 6rem; }

.navbar-custom{
  position: fixed;
  top: 0; left: 0; right: 0;
  height: var(--nav-h);
  background: #006bf7;
  z-index: 1030;
}

body{
  padding-top: calc(var(--nav-h) + 0.75rem);
}

.main-content{
  flex: 1;
  padding: 1.5rem;
}
/*fim css global para nav-bar*/