body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* A navbar não ocupa todo o tamanho da tela  */
body {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;  /* mesmo valor da altura da navbar */
}

.main-content {
  flex: 1;
  padding: 1.5rem;
  margin-top: 6rem; /* cria o espaço da altura da navbar */
}

.card.p-3.mb-4.shadow-sm {
    border-left: 5px solid #0d6efd;
}

.pane {
    padding: clamp(24px, 3vw, 40px);
}

.pane-logo {
    background: #ffffff;
    display: flex;
}

.brand-img {
    height: 14rem;  
    width: auto;
    object-fit: contain;
}

/* Define o tamanho  da navbar separadamente do tamanho da logo*/
.navbar-custom {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 6rem;                /* aumente aqui se quiser mais alta */
    background: #006bf7;         /* azul */
    z-index: 1030;               /* garante que fique acima do conteúdo */
}

/* logo fixa à esquerda, centralizada verticalmente */
.brand-fixed{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
}

/* bloco do usuário fixo à direita, centralizado verticalmente */
.user-fixed{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
}

/* prepara o container para posicionamento absoluto dos filhos */
.navbar-custom .container-fluid { position: relative; height: 100%; }