body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
}

.main-content {
  flex: 1;
  padding: 1.5rem;
  margin-top: 6rem;
}

.pane {
    padding: clamp(24px, 3vw, 40px);
}

.pane-logo {
    background: #ffffff;
    display: flex;
}

.brand-img {
    height: 12rem;  
    width: auto;
    object-fit: contain;
}

.navbar-custom {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 5rem;
    background: black;
    z-index: 1030;
}

.brand-fixed{
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
}

.user-fixed{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
}

.navbar-custom .container-fluid { 
    position: relative; 
    height: 100%; 
}

.user-custom {
    color: white;
}

.rounded-circle:hover, .d-sm-inline-block:hover, .me-2:hover{
    cursor:pointer;
}

.navbar-nav, .nav-link {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  color: white; 
  text-decoration: none; 
  padding: 3rem 3rem;
}

.navbar-nav, .nav-link i {
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}